*{
    margin: 0;
    padding: 0;
}
body{
    width: 100vw;
    height: 10vh;
    background-color: #e9e9e9;
}

.input{
    display: flex;
    justify-content: center;
    
}

.botones{
    display: flex;
    justify-content: space-around;
}

#input{
    width: 300px;
    height: 20px;
}

.imagenes img{

    width: 50pxpx;
    height: 100px;
    text-align: start;
    border-radius: 10%;
    overflow: hidden;
}

.card-image :hover{
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    transition: 3000ms;
}

.logo img{
    width: 50px;
}

.card-image{
    display:inline-block;
position:relative;
}






@media all and (max-width: 300px){
    img{
    width:180px;
    }
}
    @media all and (max-width: 400px){
    img{
    width:50%;
    }

}

@media only screen and (max-width:600px) {
    .card-image{
        display:inline-block;
        margin-bottom:1em;
        }
        .card-image a{
        position:relative;
        bottom:0em;
        right:-3em;
        background-color:hsl(106, 100%, 28%);
        color:white;
        font: size 0.5em;
        padding:1em 1em;
        text-transform:uppercase;
        border-color:#f78989;
        border-radius:1em;
        }
}



